.container {
    max-width: 550px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

input {
    width: 300px;
    height: 30px;
}

input,
textarea {
    outline: none;
    border: 1px solid rgb(199, 199, 199);
}

textarea {
    resize: none;
    width: 300px;
    height: 100px;
}

.messages-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.messages-container .message{
    margin: 10px;
    border: 2px solid black;
}
